<header>
    <div class="navbar bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 25px; " class="fas fa-shipping-fast">&nbsp;
          <strong>Flipcart</strong>
        </i>
        <div class="formgroup">
          <input type="text" placeholder="search product"  class="form-control">
        </div>
          <span class="fas fa-search serch-icon"></span>
    
        
      </div>
      <button class="btn btn-primary" routerLink="cart">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalitem}}</div>
      </button>
    </div>
  
  </header>
 
